
body {
    background: #929696;
    overflow-x: hidden;
}

section{
    height: 92vh;
    overflow: scroll;
    background-color: #929696;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
footer {
    background: black;
    color: white;
}
.hiddenForm{
    display: none;
}

.card {
    position: relative;
    width: 18rem;
    overflow:unset!important;
}

.poster-bottom {
    overflow: scroll;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100%;
    background-color:#fff;
    transition:all ease .3s;
}
.card:hover .poster-bottom {
    z-index: 99;
    bottom: 0;
}
.movieImage {
    height: 100%;
    object-fit: cover;
}

#tmdImage {
    height: 100px;
    width: 100px;
}