
footer {
    background: black;
    color: white;
}
.hiddenForm{
    display: none;
}

#tmdImage {
    height: 100px;
    width: 100px;
}

#movies{
    overflow: scroll;
    height: 80vh;
}
body {
    background: #929696;
}
.card {
    position: relative;
    width: 18rem;
    overflow:unset!important;
}

.poster-bottom {
    overflow: scroll;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    background-color:#fff;
    transition:all ease .3s;
}
.card:hover .poster-bottom {
    height: 300px;
    z-index: 99;
}
.movieImage {
    height: 100%;
    object-fit: cover;
}
